@import 'tailwindcss';

@theme {
  /* Material Design Colors */
  --color-md-surface: #121212;
  --color-md-surface-variant: #49454f;
  --color-md-surface-container-lowest: #0f0f0f;
  --color-md-surface-container-low: #1c1b1f;
  --color-md-surface-container: #211f26;
  --color-md-surface-container-high: #2b2930;
  --color-md-surface-container-highest: #36343b;
  --color-md-on-surface: #e6e1e5;
  --color-md-on-surface-variant: #cac4d0;
  --color-md-outline: #938f99;
  --color-md-outline-variant: #49454f;
  --color-md-primary: #005ac1;
  --color-md-on-primary: #ffffff;
  --color-md-primary-container: #d3e3fc;
  --color-md-on-primary-container: #001b3f;
}
:root {
  color-scheme: light dark;
}
